       <ion-header translucent>
            <ion-toolbar>
<ion-buttons slot="start">
<privacy><ion-button>
<ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
</ion-button></privacy>
</ion-buttons>
          <ion-title class="site-info">
            <h1><a href="{{ site.baseurl }}/product">{{ site.title }}</a></h1>
          </ion-title>
    {% if page.layout == "product" %}
    <ion-buttons slot="end">
            <ion-badge color="danger" id="cart-menu" class="simpleCart_quantity" style="position:absolute;padding: 3px 6px;top:4px;right:3px;border-radius:50px;font-size:small;z-index:1;"></ion-badge>
      <ion-button href="{{site.baseurl}}/cart">
            <ion-icon slot="icon-only" name="cart"></ion-icon>
        </ion-button>
    </ion-buttons>
    {% endif %}
          <ion-buttons class="mode-btn" slot="end" onclick="setDarkMode(true)" id="darkBtn">
            <ion-button>
            <ion-icon slot="icon-only" name="moon" color="dark"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-buttons class="mode-btn" slot="end" onclick="setDarkMode(false)" id="lightBtn" style="display: none;">
            <ion-button>
            <ion-icon slot="icon-only" name="partly-sunny"></ion-icon>
            </ion-button>
          </ion-buttons>
            </ion-toolbar>
        </ion-header>
