    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta property="image" content="{{ site.baseurl }}/images/intro-bg.webp"/>

    {% if page.excerpt %}
    <meta property="image" content="{{ site.baseurl }}{{ page.image }}"/>
    <meta property="og:image" content="{{ site.baseurl }}{{ page.image }}"/>
    {% else %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}

<meta content="{{ site.fb-admin }}" property="fb:admins"/>
<meta content="{{ site.fb-appID }}" property="fb:app_id"/>
<meta content="{{ site.fb-profile }}" property="fb:profile_id"/>
<meta content="{{ site.fb-pages }}" property="fb:pages"/>
<meta name="theme-color" content="#f94c2f" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta name="apple-mobile-web-app-title" content="As-Syariah Bordir" />
<meta name="msapplication-TileImage" content="/fav/ms-icon-144x144.png" />
<meta name="msapplication-TileColor" content="#f94c2f" />
<meta class="theme-color" content="#f94c2f" name="apple-mobile-web-app-status-bar-style" />
<meta class="theme-color" content="#f94c2f" name="msapplication-navbutton-color" />
<meta class="theme-color" content="#f94c2f" name="theme-color" />
