        <div class="skeleton" id="skeleton">
          <div class="shop">
            <ion-card class="post-product">
              <img src="/assets/images/blank.jpg">
            <ion-card-header>
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-card-header>
            <ion-card-content>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </ion-card-content>
          </ion-card>
        </div>
          <div class="shop">
            <ion-card class="post-product">
              <img src="/assets/images/blank.jpg">
            <ion-card-header>
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-card-header>
            <ion-card-content>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </ion-card-content>
          </ion-card>
        </div>
          <div class="shop">
            <ion-card class="post-product">
              <img src="/assets/images/blank.jpg">
            <ion-card-header>
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-card-header>
            <ion-card-content>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </ion-card-content>
          </ion-card>
        </div>
          <div class="shop">
            <ion-card class="post-product">
              <img src="/assets/images/blank.jpg">
            <ion-card-header>
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-card-header>
            <ion-card-content>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </ion-card-content>
          </ion-card>
        </div>
          <div class="shop">
            <ion-card class="post-product">
              <img src="/assets/images/blank.jpg">
            <ion-card-header>
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-card-header>
            <ion-card-content>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </ion-card-content>
          </ion-card>
        </div>
          <div class="shop">
            <ion-card class="post-product">
              <img src="/assets/images/blank.jpg">
            <ion-card-header>
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-card-header>
            <ion-card-content>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </ion-card-content>
          </ion-card>
        </div>
          <div class="shop">
            <ion-card class="post-product">
              <img src="/assets/images/blank.jpg">
            <ion-card-header>
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-card-header>
            <ion-card-content>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </ion-card-content>
          </ion-card>
        </div>
          <div class="shop">
            <ion-card class="post-product">
              <img src="/assets/images/blank.jpg">
            <ion-card-header>
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-card-header>
            <ion-card-content>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </ion-card-content>
          </ion-card>
        </div>
       </div>
