---
layout: default
---
<style>
    .blog { padding:0px;}
</style>
<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start" onclick="javascript:history.back()">
          <ion-button><ion-icon name="chevron-back-outline"></ion-icon><ion-label color="light">Back</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
  </ion-header>

<article class="page-pay">
        <ion-item>
          <ion-thumbnail slot="end">
            <img src="./thumbnail.svg">
          </ion-thumbnail>
          <ion-label>
            <h3>Lorem ipsum</h3>
            <p>dolor sit amet</p>
          </ion-label>
        </ion-item>
  <center><h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div></center>
</article>
