---
layout: default
---
<style>
    .blog { padding:0px;}
    .wrapper-footer { display:none!important; }
    .posts {padding-top:60px;}
</style>
<ion-header style="position:fixed;">
    <ion-toolbar color="danger">
        <ion-buttons slot="start" onclick="javascript:history.back()/artikel">
          <ion-button onclick="handleButtonClick()"><ion-icon name="chevron-back-outline"></ion-icon><ion-label color="light">Back</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
  </ion-header>
<div class="container posts">
{{ content }}
</div>
