---
layout: default
---
<style>
    .blog { padding:0px;}
    .page-artikel { max-width:900px;margin:auto;padding-top:70px; }
    .wrapper-footer { display:none!important; }
</style>
<ion-header style="position:fixed;">
    <ion-toolbar color="danger">
        <ion-buttons slot="start" onclick="javascript:history.back()">
          <ion-button onclick="handleButtonClick()"><ion-icon name="chevron-back-outline"></ion-icon><ion-label color="light">Back</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
  </ion-header>

<article class="page-artikel">
  <center><h1>{{ page.title }}</h1></center>
{% for artikel in site.data.artikel %}
        <ion-item onclick="handleButtonClick()" href="{{ artikel.url }}">
		<ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          <ion-thumbnail style="width: 80px;height: 80px;" slot="start">
            <img src="{{ artikel.img }}">
          </ion-thumbnail>
          <ion-label>
            <h3>{{ artikel.judul }}</h3>
            <p>{{ artikel.deskrip }}</p>
              <small>{{ artikel.time }}</small>
          </ion-label>
        </ion-item>
{% endfor %}
	    <center>{% include ads-banner.html %}</center>
</article>
