---
layout: none
title: AI OLshop
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'id' }}">

    {% include head.html %}

<body>
  <ion-app>
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{site.title}}</ion-title>
        <ion-badge color="danger" id="cart-count">0</ion-badge>
    <ion-buttons slot="end">
      <ion-button id="cart-button">
        <ion-icon name="cart" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
    {{ content }}
<ion-footer>
  <ion-toolbar class="ion-padding">
    <ion-label slot="end">&copy; {{ site.time | date: "%Y" }} - {{site.title}} by 
      <span id="footer">{{site.author}}</span>
    </ion-label>
  </ion-toolbar>
</ion-footer>
  {% include modals.html %}
  </ion-app>

  {% include script.html %}

</body>
</html>
