---
layout: default
---
<style>ion-header{display:none !important;}</style>
<div id="data" class="simpleCart_shelfItem" style="display:none;">
<ion-card class="post-shop">
<span class="hide item_link">{{site.baseurl}}{{page.url}}</span>
<div class="shop-img">
            {% for pick in page.images %}
          		<div id="product-{{ forloop.index }}" class="style" {% unless forloop.first %}style="display:none"{% endunless %}>
<img class="zoomIn" src="{{ pick.image_path }}" />
                </div>
          	{% endfor %}
<img class="item_thumb hide" src="{{page.img}}" alt="{{page.title}}"/>
</div>
<div class="wrapit">
  <ion-item>
<a class="fav_btn" onclick="favOptions()" style="font-size: 22px;margin-right: 10px;cursor:pointer;">
    <span id="like-{{ page.noID }}" class="like-btn">
    <ion-icon name="heart" slot="start"></ion-icon>
    </span>
</a>
    <ion-label class="item_name">{{ page.title }}</ion-label>
<ion-buttons>
<share><ion-button slot="end">
<ion-icon name="share-social-outline"></ion-icon>
</ion-button></share>
</ion-buttons>
  </ion-item>
<ion-card-content class="product-info">
  <div class="entry">
<div style="display:flex;grid-gap:5px;font-size: 30px;">
<div class="price item_price">Rp. {{page.price}}</div>
</div>

<div class="note">
<ion-note>{{ page.riv }} terjual</ion-note>
<ion-note style="margin-left:15px;"><ion-icon name="star" class="star"></ion-icon> {{page.rating}} Dari {{page.rC}} Penilaian</ion-note>
</div>
<div class="note">
<ion-text color={{page.stokC}}>{{ page.stok }}</ion-text>
</div>
<div class="chip desktop">
<ion-chip id="myBtn" color="primary">
<ion-icon name="reader-outline"></ion-icon>
<ion-label>Deskripsi Produk...</ion-label>
</ion-chip>
</div>
<ion-accordion-group class="mobile">
            <ion-accordion>
              <ion-item slot="header">
                <ion-label>Deskripsi Produk</ion-label>
              </ion-item>

              <ion-list slot="content">
  <ion-card>
    <ion-card-header>{{page.description}}</ion-card-header>
    <ion-card-content>{{ content }}</ion-card-content>
  </ion-card>
              </ion-list>
            </ion-accordion>
</ion-accordion-group>
        	<div class="style-picker">
            {% for picker in page.images %}
              <div id="product-{{ forloop.index }}" {% if forloop.first %} class="btn-picker item_color" {% endif %} class="btn-picker" style="background-color:{{ picker.color }};"><span style="color:#fff">{{ picker.name }}</span></div>
            {% endfor %}
        	</div>

          <select class="item form-control item_model" style="display:{{page.display}};">
        <ion-label>Model Tali</ion-label>
            {% for tali in page.tali %}
              <option value="{{ tali }}"> {{ tali }} </option>
            {% endfor %}
          </select>

<div id="input_div">
    <div class="input-group">
        <div class="input-group-prepend" style="cursor:pointer;padding: 0 10px;">
              <span class="input-group-text" id="minus" onclick="minus()">
                <ion-icon name="remove-circle"></ion-icon>
              </span>
        </div>
          <input type="number" id="counter" class="form-control item_Quantity" value="1" min="1" max="100" style="text-align:center;background:transparent;font-size: 20px;font-weight:700;border:none;-moz-appearance: textfield;" disabled/>
        <div class="input-group-prepend" style="cursor: pointer;padding: 0 10px;">
              <span class="input-group-right" id="plus" onclick="plus()">
                  <ion-icon name="add-circle"></ion-icon>
              </span>
        </div>
    </div>
</div>
  <ion-note class="date">
    Posted on {{ page.date | date: "%B %e, %Y" }}
  </ion-note>
</ion-card-content>
</div></div>
</ion-card>
        <ion-footer class="shop-footer">
            <ion-toolbar>
            <div class="btn-footer">
                <ion-button color="success" class="btn-left" shape="round" fill="outline" id="trigger-wa">
  <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon></ion-button>

            <ion-badge color="danger" id="cart-menu" class="simpleCart_quantity" style="position: relative;top:7px;right:34px;"></ion-badge>
            <ion-button color="secondary" class="btn-left" shape="round" fill="outline" id="trigger-cart">
  <ion-icon slot="icon-only" name="cart"></ion-icon></ion-button>

                <ion-button onclick="beliClick()" color={{page.stokC}} class="btn-right item_add" shape="round" fill="outline" {{page.nolStok}}>{{page.tombol}}</ion-button>
            </div>
            </ion-toolbar>
        </ion-footer>
</div>
{% include skeleton-post.html %}

<div id="myModal" class="modal">
  <!-- Modal content -->
  <ion-card class="modal-content">
    <ion-card-header>{{page.description}}
    <span class="close">&times;</span></ion-card-header>
    <ion-card-content>{{ content }}</ion-card-content>
  </ion-card>
</div>

<ion-modal  trigger="trigger-wa" id="wa">
<ion-modal-header collapse="fade" translucent="true">
        <ion-toolbar color="success">
<ion-title>WhatsApp Kontak</ion-title>
    <ion-buttons slot="end">
      <ion-button onClick="dismissWa()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
        </ion-toolbar>
     </ion-modal-header>
<ion-content>
  <form validate-form' id='whatsapp'>
    <input class='pertanyaan' id='nomorAdmin' type='hidden'/>
    <ion-list>
      <ion-list-header>
      <ion-label>
          Ada pertanyaan? lengkapi data berikut!
      </ion-label>
    </ion-list-header>
      <ion-item>
        <ion-label position="floating">Nama Lengkap</ion-label>
          <ion-input class='nama wajib' placeholder='Nama Lengkap' type="text" highlight-color="success"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Pertanyaan</ion-label>
          <ion-textarea class='tanya wajib' placeholder='Pertanyaan' type="text" style="border-color:#07bc4c;max-width: 320px;"></ion-textarea>
      </ion-item></ion-list>
            <div class="mb-0 text-right">
                <a type="button" class="sendWAclik kirim" style="margin-right:10px;color:#07bc4c;float: right;font-size: 30px;">
                 <ion-chip color="success"> <ion-icon name="logo-whatsapp"></ion-icon><ion-label>Kirim Whatsapp</ion-label></ion-chip>
                </a>
            </div>
        </form>
</ion-content>
</ion-modal>

<ion-modal  trigger="trigger-cart" id="cart">
<ion-modal-header collapse="fade" translucent="true">
        <ion-toolbar color="secondary">
        <ion-title>Keranjang</ion-title>
      <ion-buttons slot="end">
      <ion-button onClick="dismissCart()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
        </ion-toolbar>
     </ion-modal-header>
<ion-content>

{% include keranjang.html %}

</ion-content>
</ion-modal>

<script>
  const sheetModal = document.querySelector('#wa');
  const cardModal = document.querySelector('#cart');

  sheetModal.breakpoints = [0.1, 0.5, 1];
  sheetModal.initialBreakpoint = 0.5;
  
  cardModal.swipeToClose = true;
  cardModal.presentingElement = document.querySelector('ion-app');
</script>
<script>
      async function beliClick() {
        const toast = await toastController.create({
          color: 'dark',
          duration: 2000,
          message: '{{ page.title }} Berhasil Masuk ke keranjang',
          showCloseButton: true,
        });

        await toast.present();
      }
    </script>

<script>
async function dismissWa() {
  await sheetModal.dismiss({
    'dismissed': true
  });
}

async function dismissCart() {
  await cardModal.dismiss({
    'dismissed': true
  });
}
</script>

<script>
var modal = document.getElementById("myModal");
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
  modal.style.display = "block";
}
span.onclick = function() {
  modal.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
