<!DOCTYPE html>
<html>
{% include ion-head.html %}
<body onload="onLoadSkeleton()">
<ion-app>
{% include ion-header.html %}
    <ion-content>
        <div id="main" style="display:none;">
            <div class="container">
                  {{ content }}
            </div>
        </div>
{% include skeleton.html %}
    </ion-content>
{% include ion-footer.html %}
{% include analytics.html %}
</ion-app>
{% include script-js.html %}
    <script>
function onLoadSkeleton() {
  const skeletonEl = document.getElementById('skeleton');
  const dataEl = document.getElementById('main');

  setTimeout(() => {
    skeletonEl.style.display = 'none';
    dataEl.style.display = 'block';
  }, 5000);
}
    </script>
</body>
</html>
